body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.content {
  position: relative;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fixed {
  position: sticky !important;
  top: 0;
  left: 20px;

  z-index: 5;
}
.card {
  width: 350px;
  padding: 15px;
  margin: 20px !important;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
}
.green {
  color: #31ae48 !important;
}
.blue {
  color: #2a3b90 !important;
}
.center {
  margin: 10px;
}
.m-t {
  margin-top: 15px !important;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
